
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, show_post_path(post) %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to 'Exportar postagens como CSV', export_as_csv_path(@posts, format: :csv) %>

