
<h1> <%= @post.title %> </h1>

<hr>
</br>

<%= @post.content %>

</br>
</br>
<hr>

Categorias:
<% @post.categories.each do |category| %>
  < <%= category.name %> >
<% end %>

<hr>
<%= link_to 'Exportar para CSV', export_as_csv_path(@post, format: :csv) %>
